.mainCardContainer{
    margin-bottom: 50px;
    padding: 0;
}

.gameMessage{
    font-weight: 500;
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px 0;
    margin-bottom: 0px;
}

.gameScores{
    text-align: center;
    max-width: 100%;
    align-content: center;
    margin-bottom: 10px;
}

.gameScores p {
    font-weight: 500;
    background-color: lightcoral;
    color: white;
    padding: 20px 0;
    margin-bottom: 25px;
    margin-top: 0px;
}