.jumbotron{
    background-image: url("http://southparkstudios.mtvnimages.com/shared/locations/south-park-sunshine.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 596px;
}

.jumbotron h1 {
    font-size: 65px;
    font-weight: bold;
    color: red;
    margin-top: 0px;
}

.jumbotron p {
    font-size: 18px;
    font-weight: 700;
    color: red;
}